@import "bootstrap.min.css";
@import "bootstrap-theme.css";
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html {
	height:100%;
}
body {
	/*background-color:#8abe9b;*/
	background-repeat: no-repeat;
	background-attachment:fixed;
	height:100%;
}

@media screen and (min-width:1271px) {
	body {
		background-size: 100% 100%;
	}
}

/*
@media screen and (max-height: 900px) {
	body {
		background-size: 1720px 900px;
	}
}
*/

@media screen and (min-width: 851px) and (max-width: 1270px) {
	body {
		background-size: 1720px 900px;
	}
}

/*
@media screen and (max-width: 1080px) {
	.feed-row .attendees {
		visibility: hidden;
	}
}
*/

.logo{
	color:white;
	font-family:'Patrick Hand SC',cursive;
	font-size:xx-large;
}

.jumbotron{
	margin-top: 40px;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	background-color: rgba(236, 237, 220, 0);
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.jumbotron h1{
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #888888;

}

.accept-invite, .reject-invite {
	font-family:"Raleway";
}

#HostButton {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family:"Raleway";
    font-weight:bold;
	font-size:300%;
    /*display: block;*/
    box-shadow:none;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    /*margin: 100px auto;*/
    margin-left: auto;
    margin-right: auto;
	width: 300px;
	text-align: center;
	margin-bottom: 20px;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

#HostButton:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    text-decoration: none;
    /*box-shadow:none;*/
    position: relative;
    top: 6px;
}
/*a:hover, a:visited, a:link, a:active*/
#HostButton:focus { 
    -moz-outline-style: none; 
    text-decoration: none;
    /*box-shadow:none;*/
}

/*#HostButton:link, #HostButton:hover {
	box-shadow:none;
}*/

h1 {
	text-align: center;
	color:white;
	text-shadow: 5px -1px black;
	font-family:'Patrick Hand SC';
}

.collapsed {
	/*margin-bottom:100px;*/
}

.feed-row:hover, .host-row:hover {
	background-color:rgba(229, 148, 0, 0.8);
	color:black;
}

.feed-row, .host-row {
	margin-top: 15px;
	margin-left: 7.5%;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgba(27, 27, 27, 0.9);
	color: white;
	font-family:"Raleway";
	/* border-style: ridge;
	border-width: 2px;
	background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);*/
	border-radius:80px;
	width:85%;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	-ms-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	-webkit-transition: color 0.4s ease-out;
	-moz-transition: color 0.4s ease-out;
	-o-transition: color 0.4s ease-out;
	-ms-transition: color 0.4s ease-out;
	transition: color 0.4s ease-out;
}

.feed-row .name-identifier, .host-row .name-identifier {
	float: left;
	width: 50%;
	padding-left: 45px;
}

.name-identifier {
	font-weight:bold;
	font-size:125%;
}

.feed-row .setting-identifier {
	float:left;
	width:45%;
	text-align: center;
}

.feed-row .attendees {
	float: left;
	margin-top: 20px;
	padding-left: 45px;
	width: 60%;
}


.host-row .setting-identifier {
	float: right;
	text-align: center;
	padding-right: 30px;
	width: 50%;
}

.host-row .attendees {
	float: left;
	margin-top: 20px;
	margin-left: 45px;
	width: 50%;
}

footer{
	display:none; /* can comment out later */
	border-top: 1px solid #CCCCCC;
	padding: 20px 0px;
	background-color:black;
	clear:both;
	position:fixed;
	bottom:0;
	width:100%;
}