@import "bootstrap.min.css";
@import "bootstrap-theme.css";

body {
	background-color:#8abe9b;
}

.logo{
	color:white;
	font-family:'Patrick Hand SC',cursive;
	font-size:xx-large;
}

.form{
	margin-top: 40px;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	background-color: #eceddc;
}