<html>

<head>
	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
		var SpritzSettings = {
				clientId: "afb9145630773e008",
				redirectUri: "http://www.tigergrowl.info/spritz/login_success",
	   };
	</script>

	<script id="spritzjs" type="text/javascript" src="http://sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
	<script type="text/javascript" src="backend.js"></script>
</head>

<body>

<center><p><div data-role="spritzer" data-url="http://www.princeton.edu/main/news/archive/S39/65/40I22/index.xml?section=announcements"></div><p></center>

<div>
    <input id="autoStartOption" type="checkbox" checked/> Auto-Start
</div>
	
<select id="textList" size="1">
	<option value="">Select Text</option>
	<option value="text1">Hello World</option>
	<option value="text2">Wilbur Wright</option>
</select>

</body>

</html>