<html>

<head>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script type="text/javascript">
		var SpritzSettings = {
				clientId: "afb9145630773e008",
				redirectUri: "http://www.tigergrowl.info/spritz/login_success",
	   };
	</script>

	<script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>

    <script type="text/javascript" src="templates/spritz/app.js"></script>

    <style type="text/css">
       body {
           background-color: #A9D0F5;
           margin-left: 20px;           
        }
    </style>


</head>

<body>

	<p>
	  	<div 
	  	    id="spritzer"
	  	    data-role="spritzer" 
	  	    data-url="http://sdk.spritzinc.com/sampleText/HelloWorld.html" 
	  	    data-options='{ "redicleWidth": 400, "redicleHeight": 100, "speedItems": [100, 200, 300, 400, 500, 600, 750, 1000], "defaultSpeed": 600 }'></div>
	  	</p>
    <p>

    <textarea id="inputText" rows="12" cols="60"></textarea><br>    
    <div style="color: #888888 "><small>Paste your own text or click the Fill button to load the sample text</small></div>
    <button id="fill" type="submit">Fill</button>
    <button id="clear" type="submit">Clear</button>     
    <button id="startSpritz" type="submit">Spritz!</button>

    <p>
        <div>Choose a source:</div>
        <select id="textList" size="1">
            <option value="">Nothing</option>
            <option value="http://sdk.spritzinc.com/sampleText/HelloWorld.html" selected>Hello World</option>
            <option value="http://sdk.spritzinc.com/sampleText/WilburWrightLetter.html">Wilbur Wright</option>
            <option value="http://www.archives.gov/exhibits/charters/print_friendly.html?page=declaration_transcript_content.html&title=NARA%20%7C%20The%20Declaration%20of%20Independence%3A%20A%20Transcription">Declaration of Independence</option>
            <option value="http://www.archives.gov/exhibits/charters/print_friendly.html?page=bill_of_rights_transcript_content.html&title=The%20Bill%20of%20Rights%3A%20A%20Transcription">Bill Of Rights</option>
	 	</select>
    </p>

</body>

</html>