<html>

<head>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script type="text/javascript">
		var SpritzSettings = {
				clientId: "afb9145630773e008",
				redirectUri: "http://www.tigergrowl.info/spritz/login_success",
	   };
	</script>

	<script id="spritzjs" type="text/javascript" src="http://sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
    <script type="text/javascript">
        function onTextSelected() {
        	var option = $('option:selected', this); 
            var name = option.text();
            var url = option.val();
            
            $('#selectionTitle').text(name);
            $('#spritzer').data('controller').setUrl(url);
        }
    
        $(document).ready(function() {
        	// Add selection handler
            $("#textList").on("change", onTextSelected);            
        });
    </script>

    <link id="spritz-css" rel="stylesheet" type="text/css" href="http://sdk.spritzinc.com/js/1.0/css/spritz.min.css" media="all">


</head>

<body>

	<p>
	   <div data-role="spritzer" 
	   		data-url="http://sdk.spritzinc.com/sampleText/HelloWorld.html" 
	   		data-options="{ "redicleWidth": 400, "redicleHeight": 150, "speedItems": [100, 200, 300, 400, 500, 1000], "defaultSpeed": 500 }">
	   </div>
    </p>

    <p>
        <div>Choose a source:</div>
        <select id="textList" size="1">
            <option value="">Nothing</option>
            <option value="http://sdk.spritzinc.com/sampleText/HelloWorld.html" selected>Hello World</option>
            <option value="http://sdk.spritzinc.com/sampleText/WilburWrightLetter.html">Wilbur Wright</option>
            <option value="http://www.archives.gov/exhibits/charters/print_friendly.html?page=declaration_transcript_content.html&title=NARA%20%7C%20The%20Declaration%20of%20Independence%3A%20A%20Transcription">Declaration of Independence</option>
            <option value="http://www.archives.gov/exhibits/charters/print_friendly.html?page=bill_of_rights_transcript_content.html&title=The%20Bill%20of%20Rights%3A%20A%20Transcription">Bill Of Rights</option>
	 	</select>
    </p>

</body>

</html>