<div class="row feed-row inviter-row"> 	
	<div class="name-identifier">Meal
		<div class="pubpri-identifier" style="font-size: small; display: inline;">
			Pubpri
		</div>
	</div>
	<div class="setting-identifier">
	</div>
	<div class="attendees">Who's Coming?
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee1" href="#" style="height: 50px;padding: 4px;" src="http://graph.facebook.com/1486930511/picture" title="" data-original-title="Gil Walzer"> 			
		</div>
		<div style="height:50px;width:50px;display:inline;"> 			
			<img class="attendee2" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee3" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee4" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee5" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee6" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee7" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee8" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee9" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee10" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
		<div style="height:50px;width:50px;display:inline;">
			<img class="attendee11" href="#" style="height: 50px; padding: 4px; display: none;" title="" data-original-title="">
		</div>
	</div>
	<div style="width: 35%;float: right;text-align: center; margin-top:25px;">
		<a style="font-weight: 100;margin-right:5px;margin-left: -55%;" href="../accept/467345/1362325282" class="btn btn-default btn-success accept-invite">
			<span class="glyphicon glyphicon-ok"></span> Accept
		</a>
		<a style="font-weight:100;" href="../reject/467345/1362325282" class="btn btn-default btn-danger reject-invite">
			<span class="glyphicon glyphicon-remove"></span> Decline
		</a>
	</div>
</div>







