<html>
<head>
		<title>Main Page</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
Hello, World!

You are logged into facebook. If you're not, then you won't see anything else on this page.

<script>
var friendlist = [];

window.fbAsyncInit = function() {
FB.init({
  appId      : '1423477091234772',
  status     : true, // check login status
  cookie     : true, // enable cookies to allow the server to access the session
  xfbml      : true  // parse XFBML
});
// see here: https://developers.facebook.com/docs/facebook-login/login-flow-for-web/

FB.Event.subscribe('auth.authResponseChange', function(response) {
FB.api(
          "/me?fields=friends.fields(name)",
          function (response) {
            if (response && !response.error) {
				// console.log("Bitch");
			  list = response["friends"]["data"];
			  for (var i=0; i < list.length; i++)
			  {
				  friendlist.push(list[i]["name"]);
				  $(document).ready(function(){
					  $("#friendList").append(list[i]["name"] + '<br/>');
				  });
				  
				  // console.log(list[i]["name"]);
			  }
              
            }
          }
      );
  });
};
(function(d){
 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement('script'); js.id = id; js.async = true;
 js.src = "https://connect.facebook.net/en_US/all.js";
 ref.parentNode.insertBefore(js, ref);
}(document));

</script>	

<p id="friendList"></p>

</body>

</html>
