<!DOCTYPE html>

<html>

<head>
	<title>TigerGROWL</title>
	<link rel="stylesheet" href="/static/css/main.css" type="text/css"/>

	<!-- JQuery -->
	<script src="/static/js/jquery-1.11.0.min.js"></script>

	<!-- Install Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/js/bootstrap.min.js"></script>


	<!-- Insert Princeton favicon -->
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/icon"/>
	<link rel="icon" href="/static/img/favicon.ico" type="image/icon"/>
</head>

<body>


<!-- Header row -->
<div class="row">
    <div class="navbar navbar-fixed-top">
        <button data-target=".navbar-responsive-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>

        </button> <a href="#" class="col-2 col-lg-2 brandtitle"> TigerGrowl</a>

        <div class="nav-collapse collapse navbar-responsive-collapse">
            <!-- <div class="container"> -->
            <ul class="nav navbar-nav">
                <li class="tg-sidebar-right"><a class=""><span class=""><i class="glyphicon glyphicon-align-justify"></i>
                    </span></a>
                </li>
                <li class="active"><a href="Adminhome.aspx" class="">Home</a>
                </li>
                <li><a href="#" class="">Link</a>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown
                        <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="#" class="">Action</a>
                        </li>
                        <li><a href="#" class="">Another action</a>
                        </li>
                        <li><a href="#" class="">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="#" class="">Separated link</a>
                        </li>
                        <li><a href="#" class="">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#" class="">Link</a>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">UserName
                        <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="#" class=""><span class="glyphicon glyphicon-user"></span>Profile</a>
                        </li>
                        <li><a href="#" class=""><span class="glyphicon glyphicon-cog"></span>Setting</a>
                        </li>
                        <li><a href="#" class=""><span class="glyphicon glyphicon-off"></span>Logout</a> 
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- </div> /.container -->
        </div>
        <!-- /.nav-collapse -->
    </div>
</div>
<!-- Content row -->
<div class="row">
    <!-- SIDEBAR Open -->
    <div id="sidebar-right" class="col-2 col-lg-2">
        <ul class="nav nav-tabs nav-stacked sidemenus">
            <li>
                <asp:textbox id="TextBox1" cssclass="search span12" runat="server" class=""></asp:textbox>
            </li>
            <li><a href="#" class="">Host Box</a>
            </li>
            <li class="active"><a href="#" class="">Two</a>
            </li>
            <li><a href="Default2.aspx" class="">Three</a>
            </li>
            <li><a href="#" class="">Four</a>
            </li>
            <li><a href="#" class="">Five</a>
            </li>
            <li><a href="#" class="">Six</a>
            </li>
            <li><a href="#" class="">Seven</a>
            </li>
            <li><a href="#" class="">Eight</a>
            </li>
            <li><a href="#" class="">Nine</a>
            </li>
        </ul>
    </div>
    <div id="content-right" class="col-lg-10 container" style="background-color:#fff;">
<div class="container" style="width:100%;margin-top:50px;">         
<h2 class="">The Feed</h2><br>
          
 
</div>
        
    </div>
</div>
<!-- Footer row -->
<div class="row">
    <div class="container" style="margin-left:0px;padding-left: 35%;">
        <div class="col-2"></div>
        <div class="col-2">TigerGrowl (C) 2014</div>
    </div>
</div>
</body>
</html>