<!DOCTYPE html>
<html>
	<head>
		<title>TigerGrowl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/css/customstyle.css" rel="stylesheet" media="screen">
		<link rel="shortcut icon" href="../static/img/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../static/js/jquery-1.11.0.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/fb.js"></script>

		<script>
		function openpopup() {
			window.open('../registermeal','1397500628517','width=400,height=700,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
			return false;
		}
		</script>

	</head>
	<body>

	<style>
		body {
			background-image:url('http://news.princeton.edu/uploads/244/image/Rockyinside.jpg');
		}
	</style>

		
		<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo" style="color:white;" href="/feed">TigerGrowl</a>

				<a id="mymealslink" href="#"><button type="button" class="btn btn-default navbar-btn" style="float: right;margin-right: 45px;margin-left: 45px;"><span class="glyphicon glyphicon-user"></span> My Meals</button></a>

				<img id="FacebookPhoto" href="#" style="height: 50px;padding: 4px; float:right;">/>
			<!-- /.navbar-collapse -->
		</nav>
				<div class="container-fluid">
					<div class="jumbotron">
							<a onclick="openpopup()"><button type="button" class="btn btn-default btn-lg">
								Host a Meal
							</button></a>
					</div>
				</div>
				
				<!-- Main feed container -->
				<div class="container">
					<!--
					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div> 
						<a id="button1" href="#"><button class="btn btn-primary btn-large joinbutton" style="margin-right:20%; float:right; margin-top: 30px;"><span class="glyphicon glyphicon-exclamation-sign"></span> Join Meal</button> </a>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<a id="button2" href="#"><button class="btn btn-primary btn-large joinbutton" style="margin-right:20%; float:right; margin-top: 30px;"><span class="glyphicon glyphicon-exclamation-sign"></span> Join Meal</button> </a>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<a id="button3" href="#"><button class="btn btn-primary btn-large joinbutton" style="margin-right:20%; float:right; margin-top: 30px;"><span class="glyphicon glyphicon-exclamation-sign"></span> Join Meal</button> </a>
					</div>
					
					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<a id="button4" href="#"><button class="btn btn-primary btn-large joinbutton" style="margin-right:20%; float:right; margin-top: 30px;"><span class="glyphicon glyphicon-exclamation-sign"></span> Join Meal</button> </a>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<a id="button5" href="#"><button class="btn btn-primary btn-large joinbutton" style="margin-right:20%; float:right; margin-top: 30px;"><span class="glyphicon glyphicon-exclamation-sign"></span> Join Meal</button> </a>
					</div>
				-->


				<!-- The end of the container feed -->
				</div>
				<!-- Populate the rows -->
				<script>

				var obj = jQuery.parseJSON( {{mealList|tojson|safe}} );
				console.log(obj);
				var rowDiv = "
				<div class='row feed-row'>
						<div class='name-identifier'> firstname lastname's Meal </div>
						<div class='setting-identifier'> place date time </div>
						<div class='attendees'>Who's Coming?</div>
						<a href='#'><button class='btn btn-primary btn-large joinbutton' style='margin-right:20%; float:right; margin-top: 30px;'><span class='glyphicon glyphicon-exclamation-sign'></span> Join Meal</button> </a>
				</div>"

				// for each meal object in the JSON string, create a div where it will be displayed
				$.each(obj) {
				    $(".container").append(rowDiv);
				}

				$( document ).ready(function() {
					$(".feed-row:nth-child(1) .name-identifier").text(obj[0][1] + "\'s Meal");
					$(".feed-row:nth-child(2) .name-identifier").text(obj[1][1] + "\'s Meal");
					$(".feed-row:nth-child(3) .name-identifier").text(obj[2][1] + "\'s Meal");
					$(".feed-row:nth-child(4) .name-identifier").text(obj[3][1] + "\'s Meal");
					$(".feed-row:nth-child(5) .name-identifier").text(obj[4][1] + "\'s Meal");
					$(".feed-row:nth-child(1) .setting-identifier").text(obj[0][2] + ", " + obj[0][3] + ", " + obj[0][4]);
					$(".feed-row:nth-child(2) .setting-identifier").text(obj[1][2] + ", " + obj[1][3] + ", " + obj[1][4]);
					$(".feed-row:nth-child(3) .setting-identifier").text(obj[2][2] + ", " + obj[2][3] + ", " + obj[2][4]);
					$(".feed-row:nth-child(4) .setting-identifier").text(obj[3][2] + ", " + obj[3][3] + ", " + obj[3][4]);
					$(".feed-row:nth-child(5) .setting-identifier").text(obj[4][2] + ", " + obj[4][3] + ", " + obj[4][4]);
				});
				
				</script>

				<script>
					$(document).bind('fbInit',function(){
    				console.log('fbInit complete; FB Object is Available');

	    			$(document).ready(function() {
					    $(".joinbutton").each(function(i) {
					    	if (objHost[i] !== undefined) { 
					        	$(".joinbutton").prop("href", "joinmeal/" + obj[i][0] + "/" + window.uid);
					        }
					    });
					});
    				

	    			/*
    				$(".joinbutton").prop("href", "joinmeal/" + obj[0][0] + "/" + window.uid);
    				$(".joinbutton").prop("href", "joinmeal/" + obj[1][0] + "/" + window.uid);
    				$(".joinbutton").prop("href", "joinmeal/" + obj[2][0] + "/" + window.uid);
    				$(".joinbutton").prop("href", "joinmeal/" + obj[3][0] + "/" + window.uid);
    				$(".joinbutton").prop("href", "joinmeal/" + obj[4][0] + "/" + window.uid);
    				*/
    				$("#mymealslink").prop("href", "mymeals/" + window.uid);

    				
					});
					$(document).bind('fbInitPicLoaded',function(){
						$("#FacebookPhoto").prop("src", window.picurl);
					});
				</script>

				<footer>
					<div class="container">
					<div class="row">
						<div class="col" style="text-align:center;color:white;">&copy; 2014 TigerGrowl</div>
						<div class="col-md-4">
							<ul class="nav nav-pills">
								
							</ul>
						</div>

						</div>
					</div>
					</div>
				</footer>
				<div id="fb-root"></div>
		<script type="text/javascript">
		window.fbAsyncInit = function() {
					FB.init({
						appId      : '1423477091234772',
						status     : true, // check login status
						cookie     : true, // enable cookies to allow the server to access the session
						xfbml      : true  // parse XFBML
					});
					FB.getLoginStatus(function(response) {
					  if (response.status === 'connected') {
					    uid = response.authResponse.userID;
					    $(document).trigger('fbInit');

					    FB.api('me?fields=picture.height(80)', function(response) {
			          if (!response || response.error) {
			            console.log('Error occured');
			          } else {
			            picurl = response["picture"]["data"]["url"];
			            console.log(picurl)
			            $(document).trigger('fbInitPicLoaded');
			          }
			        });
					  }
					  else {
					  } 
					 });
				}
		</script>
		
		<script type="text/javascript">			
		
			var error = "{{ errorFlag }}";
			if (error != "") {
				alert("{{errorFlag}}");
				alert(error);
				console.log(error);
				console.log("there was an error");
			}
			console.log("we got hur");
			
		</script>
	</body>
</html>