<html>
<head>
<title>TigerGrowl - COS 333</title>

<body bgcolor="ffffff">

<h1> TigerGrowl </h1>

Gil Walzer,       (gwalzer@princeton.edu) <br/>
Akash Jain,       (akashj@princeton.edu) <br/>
Kevin Bruccoleri, (kevinb@princeton.edu) <br/>
Chong Gu,         (chonggu@princeton.edu) <br/>


<p><b>What is TigerGrowl?</b></p>
<p>We’re Princeton students. If there’s one thing we like to do, it’s complain. Between work, extra-curriculars, social lives, and high-stress relaxation, we’ve got a lot to complain about. With all of the time that 
<br/>
Even in the age of texting, I can only contact one friend at a time, and texting multiple people at once can become inconvenient. Sometimes I want to let everyone know where I’m eating. Sometimes I want to be able to join any one of my friends. And if I want to know if specific friends of mine can share a meal, that’s a job neither texting nor facebook can do conveniently.<br/>
The answer to this is TigerGrowl.</p>

<p>How to access the system:
If your system is web-based, this should be a URL.
If your system is stand-alone on some public or private machine, we
need to be able to access it on that machine.  
If your system is a phone application,
this should reference an installable version.
Don't forget passwords, including administrative access, if we will need them.</p>

<p>Who to contact in case something goes wrong.</p>

<blockquote>
<P> <a href="http://www.tigergrowl.info/">TigerGrowl</a>
The home page of our website.


<P> <a href="timeline.pdf">timeline.pdf</a>

<P> <a href="internals.pdf">internals.pdf</a>

<P> <a href="report.pdf">report.pdf</a>

<P> <a href="presentation.pdf">Here are our presentation slides we used during our demo</a>.
Please submit these as PDF or as a web page, not Powerpoint.
</blockquote>

<P> These links must point to PDF files <b>with exactly the
specified names</b>.  They must not require logging in to some place
like Google Docs or GitHub.  My goal is to have the submissions all in
one place and completely uniform at this level so the TAs and I can
access the pieces easily.

Thanks.


</body>
</html>
