<!DOCTYPE html>

<html>

	<head>
		<title>TigerGROWL</title>
		<link rel="stylesheet" href="/static/css/main.css" type="text/css"/>

		<!-- JQuery -->
		<script src="/static/js/jquery-1.11.0.min.js"></script>

		<!-- Install Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="/static/js/bootstrap.min.js"></script>


		<!-- Insert Princeton favicon -->
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/icon"/>
		<link rel="icon" href="/static/img/favicon.ico" type="image/icon"/>
	</head>

	<body background="/static/img/tablecloth.gif">
		<div id="headerSpace">
		</div>

		<!-- Start center content of the home page -->
		<div id="centerIndexContent">
			<img src="/static/img/logo.png" />
		
			<!-- Button trigger modal -->
			<button id="login-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-right:50px">
			  Login
			</button>

			<!-- Login Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Login to GROWL</h4>
			      </div>
			      <div class="modal-body">
			      	  <form>
			          Login Form Here<br/>
			          <input type="text" placeholder="Netid" style="margin-top:15px; margin-bottom:15px;"><br/>
			          <input type="text" placeholder="Password" style="margin-top:15px; margin-bottom:15px;">
			          </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Login</button>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Button trigger modal -->
			<button id="signup-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
			  Sign Up
			</button>

			<!-- Sign Up Modal -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Sign Up for GROWL</h4>
			      </div>
			      <div class="modal-body">
			      	  <form>
			          Signup Form Here<br/>
			          <input type="text" placeholder="example@princeton.edu" style="margin-top:15px; margin-bottom:15px; width:200px;"><br/>
			          <input type="text" placeholder="Password" style="margin-top:15px; margin-bottom:15px; width:200px;">
			          </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Sign Up</button>
			      </div>
			    </div>
			  </div>
			</div>
		<!-- End center content -->	
		</div>

		<div id="footer">
			<br/>Copyright © TigerGROWL 2014
		</div>

	</body>

</html>