<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>	
	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<title>Invite Friends - TigerGrowl</title>
	
	<script>
		function bigrefresh(){
			alert('Success! Your meal is being hosted!');
			top.location.href = "http://www.tigergrowl.info/feed";
		}

	</script>
</head>

<body>
	<div id="mfs"></div>

	<!-- <p id="intersects">Intersects </p> -->
	<style>
		input {
			float: none;
			margin-right: 25px;
		}
		#mfs {
			text-align: center;
			font-family: "Raleway"; 
			font-size: 20px;
		}

	    .checkbox input[type=checkbox] {
	    	float:none;
	    	margin-right:20px;
	    }
	</style>

	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1423477091234772',
					status     : true, // check login status
					cookie     : true, // enable cookies to allow the server to access the session
					xfbml      : true  // parse XFBML
				});
				// see here: https://developers.facebook.com/docs/facebook-login/login-flow-for-web/

				FB.Event.subscribe('auth.authResponseChange', function(response) {
					console.log(response);
					FB.api(
									// "/fql?q=SELECT uid, name, is_app_user, pic_square FROM user WHERE uid IN (SELECT uid2 FROM friend WHERE uid1 = me()) AND is_app_user = 1",
									"/fql", {q:{"query1":"SELECT uid, name, is_app_user, pic_square FROM user WHERE uid IN (SELECT uid2 FROM friend WHERE uid1 = me()) AND is_app_user = 1"}},
									function (response) {
										if (response && !response.error) {
											console.log(response);
											var queryResult = response.data[0].fql_result_set;

											console.log(queryResult);

											var container = document.getElementById('mfs');
											var mfsForm = document.createElement('form');
											mfsForm.id = 'mfsForm';
											mfsForm.method = "POST";
											$(document).ready(function() {
												for (var i = 0; i < queryResult.length; i++)
												{
													var friendItem = document.createElement('div');
													friendItem.id = 'friend_' + queryResult[i]["uid"];
													friendItem.className = 'checkbox';
													friendItem.innerHTML = '<input type="checkbox" name="friend' + i + '" value="' + queryResult[i]["uid"] + '" />' + queryResult[i]["name"];
													mfsForm.appendChild(friendItem);
												}
												container.appendChild(mfsForm);

												var sendButton = document.createElement('button');
												sendButton.id = 'sendButton';
												sendButton.type = 'submit';
												
												

												sendButton.className = 'btn btn-default';
												mfsForm.action = '../inviter/{{mealid}}';
												// mfsForm.action = 'http://requestb.in/s4vrids4';
												mfsForm.appendChild(sendButton);
												sendButton.onclick = bigrefresh();
												sendButton.innerHTML = "Invite!"
												$(document).trigger('buttondone');
											});
										}
										else {
											console.log("error");
											console.log(response);
										}
									});
});
};
(function(d){
	var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement('script'); js.id = id; js.async = true;
	js.src = "https://connect.facebook.net/en_US/all.js";
	ref.parentNode.insertBefore(js, ref);
}(document));
$(document).bind('buttondone', function () {
	$('#sendButton span').text('Some Remove Text');
});
</script>   

</body>

</html>
