<!DOCTYPE html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link type="text/css" href="//facebook-friend-selector.codersgrave.com/friend-selector/jquery.friend.selector-1.2.1.css" rel="stylesheet" />
		<script type="text/javascript" src="//facebook-friend-selector.codersgrave.com/friend-selector/jquery.friend.selector-1.2.1.js"></script>

		<script>
			alluids = jQuery.parseJSON( {{alluids|tojson|safe}} );
			console.log(alluids)

			$(document).ready(function() {
				for (var i = 0; i < alluids.length; i++)
				{
					$("#TGids").append(alluids[i] + '<br/>');
				}
			  
		  });
		</script>

		<script>
			function intersect_safe(a, b)
			{
			  var ai=0, bi=0;
			  var result = new Array();

			  while( ai < a.length && bi < b.length )
			  {
			     if      (a[ai] < b[bi] ){ ai++; }
			     else if (a[ai] > b[bi] ){ bi++; }
			     else /* they're equal */
			     {
			       result.push(a[ai]);
			       ai++;
			       bi++;
			     }
			  }

			  return result;
			}
		</script>

		<script>
					$(document).bind('fbInit',function(){
						sumset = intersect_safe(friendlist, alluids);
    				console.log(sumset);    				
					});
		</script>
	</head>

	<body>
	<a href="javascript:{}" class="bt-fs-dialog">Click here</a>
	<p id="TGids"></p>
	<p id="fbids"></p>

	<p id="intersects">Intersects </p>

	<div id="fb-root"></div>
		<script>
		var friendlist = [];

		window.fbAsyncInit = function() {
		FB.init({
		  appId      : '1423477091234772',
		  status     : true, // check login status
		  cookie     : true, // enable cookies to allow the server to access the session
		  xfbml      : true  // parse XFBML
		});
		// see here: https://developers.facebook.com/docs/facebook-login/login-flow-for-web/

		FB.Event.subscribe('auth.authResponseChange', function(response) {
		FB.api(
		          "/me?fields=friends.fields(name)",
		          function (response) {
		            if (response && !response.error) {
								  list = response["friends"]["data"];
								  for (var i=0; i < list.length; i++)
								  {
									  friendlist.push(parseInt(list[i]["id"]));
									  $(document).ready(function() {
										  $("#fbids").append(list[i]["id"] + '<br/>');
									  });
								  }
								  $(document).trigger('fbInit');
		            }
		          }
		      );
		  });
		};
		(function(d){
		 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement('script'); js.id = id; js.async = true;
		 js.src = "https://connect.facebook.net/en_US/all.js";
		 ref.parentNode.insertBefore(js, ref);
		}(document));

		</script>	

		<script type="text/javascript">
		  jQuery(document).ready(function($) {
		    $(".bt-fs-dialog").fSelector({
		    	getStoredFriends: sumset,
		      onSubmit: function(response){
		        console.log(response);
		        alert(response);
		      }
		    });
		  });
		</script>
	</body>

</html>
