<!DOCTYPE html>
<html>
	<head>
		<title>TigerGrowl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/css/customstyle.css" rel="stylesheet" media="screen">
		<link rel="shortcut icon" href="../static/img/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../static/js/jquery-1.11.0.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.min.js"></script>

		<script>
		function openpopup() {
			window.open('../registermeal','1397500628517','width=400,height=700,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
			return false;
		}

		function openpopup2() {
			window.open('../invite','1397500628517','width=400,height=700,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
			return false;
		}
		</script>
	</head>
	<body>

	<style>
	body {
		background-image:url('../static/img/arch.jpg');
	}
	</style>


		<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo" style="color:white;" href="/feed">TigerGrowl</a>

				<a id="homelink" href="/feed"><button type="button" class="btn btn-default navbar-btn active" style="float: right;margin-right: 45px;margin-left: 45px;"><span class="glyphicon glyphicon-user"></span>Feed Me</button></a>

				<img id="FacebookPhoto" href="#" style="height: 50px;padding: 4px; float:right;">
			<!-- /.navbar-collapse -->
		</nav>

				<div class="container-fluid">
					<div class="jumbotron">
							<a onclick="openpopup()"><button type="button" class="btn btn-default btn-lg">
								Host a Meal
							</button></a>
					</div>
				</div>

				<!-- Main feed container -->
				<div class="feed-column host-column">
				<script> 
					mealids = new Array();
					hosts = new Array();
				</script>
				<h1>Meals You are Hosting</h1>

				<!--
				<div class="row host-row">
					<div class="setting-identifier"> place date time </div>

						<a onclick="openpopup2()"><button type="button" class="btn btn-default btn-lg" style="font-family: Arial;font-weight: 100;font-size: medium;">
								Invite Friends
							</button></a>
						<br/><br/>
						
						<script>
						mealids[0] = 467259
						hosts[0] = 622993352
						</script>
						<div class="attendees">Who's Coming?</div> 
					</div>
					-->
				</div>
				

				<div class="feed-column invite-column">
					<!-- Yo. So the way we're storing the array of all the mealids is by defining it here. Eventually
					we'll create a method that adds things to it at the top; in the mean time we'll do it live/manually.-->

					<h1>Invites</h1>

					<!--
					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>
					-->
					
				</div>

				<div class="feed-column guest-column">

					<h1>Meals with You as Guest</h1>

					<!--
					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>
					-->
					
					</div>
				</div>

				</div>

				<script>

				var objHost = jQuery.parseJSON( {{myhosts|tojson|safe}} );
				var objInvite = [];
				var objGuest = jQuery.parseJSON( {{myguests|tojson|safe}} );

				console.log("objInvite");
				console.log(objInvite);
				console.log("objGuest:");
				console.log(objGuest);


				var hostrowDiv = "<div class='row host-row'> \
						<div class='setting-identifier'> place date time </div> \
							<a onclick='openpopup2()'><button type='button' class='btn btn-default btn-lg' style='font-family: Arial;font-weight: 100;font-size: medium;'> \
								Invite Friends \
							</button></a> \
						<div class='attendees'>Who's Coming?</div> \
					</div>";

				var inviterowDiv = "<div class='row feed-row'> \
						<div class='name-identifier'> firstname lastname's Meal </div> \
						<div class='setting-identifier'> place date time </div> \
						<div class='attendees'>Who's Coming?</div> \
					</div>";

				var guestrowDiv = inviterowDiv;

				// self populate the Host divs
				if (objHost == 0) {
					$(".host-column").append("<div class='row feed-row'> \
						<h5 style='color:white;text-align:center;'>You aren't hosting any meals at the moment.</h5> \
					</div>");
				}
				$.each(objHost, function() {
				    $(".host-column").append(hostrowDiv);
				});

				// self populate the Invite divs
				if (objInvite.length == 0) {
					$(".invite-column").append("<div class='row feed-row'> \
						<h5 style='color:white;text-align:center;'>You don't have any direct meal invitations at the moment.</h5> \
					</div>");
				}
				else {
					$.each(objInvite, function() {
				    	$(".invite-column").append(inviterowDiv);
					});
				}

				// self populate the Guest divs
				if (objGuest.length == 0) {
					$(".guest-column").append("<div class='row feed-row'> \
						<h5 style='color:white;text-align:center;'>You didn't join any meals yet.</h5> \
					</div>");
				}
				else {
					$.each(objGuest, function() {
				    	$(".guest-column").append(guestrowDiv);
					});
				}

				// Hosted meal: place, date, time				
				$(document).ready(function() {
				    $(".host-row .setting-identifier").each(function(i) {
				    	if (objHost[i] !== undefined) { 
				        	$(this).text(objHost[i][2] + ", " + objHost[i][3] + ", " + objHost[i++][4]);
				        }
				    });
				});

				// Guest meals: who?
				$(document).ready(function() {
				    $(".guest-column .feed-row .name-identifier").each(function(i) {
				    	if (objGuest[i] !== undefined ) {
				        	$(this).text(objGuest[i++][1] + "'s Meal");
				        }
				    });
				});

				// Guest meals: setting
				$(document).ready(function() {
				    $(".guest-column .feed-row .setting-identifier").each(function(i) {
				    	if (objGuest[i] !== undefined) {
				       		$(this).text(objGuest[i][2] + ", " + objGuest[i][3] + ", " + objGuest[i++][4]);
				       	}
				    });
				});
					// $(".feed-row:nth-child(2) .name-identifier").text(objHost[1][1] + "\'s Meal");
					// $(".feed-row:nth-child(3) .name-identifier").text(objHost[2][1] + "\'s Meal");
					// $(".feed-row:nth-child(4) .name-identifier").text(objHost[3][1] + "\'s Meal");
					// $(".feed-row:nth-child(5) .name-identifier").text(objHost[4][1] + "\'s Meal");
					//$(".feed-row:nth-child(1) .setting-identifier").text(objGuest[0][2] + ", " + objGuest[0][3] + ", " + objGuest[0][4]);
					//$(".feed-row:nth-child(2) .setting-identifier").text(objGuest[1][2] + ", " + objGuest[1][3] + ", " + objGuest[1][4]);
					//$(".feed-row:nth-child(3) .setting-identifier").text(objGuest[2][2] + ", " + objGuest[2][3] + ", " + objGuest[2][4]);
					//$(".feed-row:nth-child(4) .setting-identifier").text(objGuest[3][2] + ", " + objGuest[3][3] + ", " + objGuest[3][4]);
					//$(".feed-row:nth-child(5) .setting-identifier").text(objGuest[4][2] + ", " + objGuest[4][3] + ", " + objGuest[4][4]);

				/* fb photo*/
				$(document).bind('fbInitPicLoaded',function(){
						$("#FacebookPhoto").prop("src", window.picurl);
					});
				
				</script>
				
				<script>
				console.log(mealids[0])
				console.log(hosts[0])
				/* This is about getting the invite button to work. */
					$(document).bind('fbInit',function(){
    				console.log('fbInit complete; FB Object is Available');
					//"invite/" + mealids[0] + "/" + hosts[0]);
    				$("#button2").prop("href", "joinmeal/" + obj[1][0] + "/" + window.uid);
    				$("#button3").prop("href", "joinmeal/" + obj[2][0] + "/" + window.uid);
    				$("#button4").prop("href", "joinmeal/" + obj[3][0] + "/" + window.uid);
    				$("#button5").prop("href", "joinmeal/" + obj[4][0] + "/" + window.uid);
    				$("#homelink").prop("href", "feed/");
    				
					});
					$(document).bind('fbInitPicLoaded',function(){
						$("#FacebookPhoto").prop("src", window.picurl);
					});
				</script>
				<!-- Populate the rows of -->
				<footer style="clear:both;">
					<div class="container">
					<div class="row">
						<div class="col" style="text-align:center;color:white;">&copy; 2014 TigerGrowl</div>
						<div class="col-md-4">
							<ul class="nav nav-pills">
								
							</ul>
						</div>

						</div>
					</div>
					</div>
				</footer>
	</body>
</html>