<!DOCTYPE html>
<html>
	<head>
		<title>TigerGrowl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/css/customstyle.css" rel="stylesheet" media="screen">
		<link rel="shortcut icon" href="../static/img/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../static/js/jquery-1.11.0.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.min.js"></script>

		<script>
		function openpopup() {
			window.open('../registermeal','1397500628517','width=400,height=700,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
			return false;
		}
		</script>

	</head>
	<body>

	<style>
	body {
		background-image:url('http://princetonuniversityconcerts.princeton.edu/im_uploads/1073085120_59491dffa0_o.jpg');
	}
	</style>


		<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo" style="color:white;" href="/feed">TigerGrowl</a>

				<a id="mymealslink" href="#"><button type="button" class="btn btn-default navbar-btn active" style="float: right;margin-right: 45px;margin-left: 45px;"><span class="glyphicon glyphicon-user"></span> My Meals</button></a>

				<img id="FacebookPhoto" href="#" style="height: 50px;padding: 4px; float:right;">
			<!-- /.navbar-collapse -->
		</nav>

				<div class="container-fluid">
					<div class="jumbotron">
							<a onclick="openpopup()"><button type="button" class="btn btn-default btn-lg">
								Host a Meal
							</button></a>
					</div>
				</div>

				<!-- Main feed container -->
				<div class="feed-column host-column">
					
				<h1>Meals You are Hosting</h1>

					<div class="row host-row">
						<div class="setting-identifier"> place date time </div>
						<a href="#"><button class="btn btn-primary btn-large" style="margin-right:13%; float:right;"><span class="glyphicon glyphicon-exclamation-sign"></span> Invite Friends</button> </a>
						<br/><br/>
						<div id=”mealid”></div>
						<div id=”host”></div>
						<script type=”text/javascript”>
							var mealid = 467259;
							var host = 622993352;
							document.getElementById('mealid').innerHTML = mealid;
							document.getElementById('host').innerHTML = host;
							alert(mealid);
							alert("Just left first script area");
						</script>
						<script> alert(mealid);</script>
						<div class="attendees">Who's Coming?</div> 
					</div>

					<div class="row host-row">
						<div class="setting-identifier"> place date time </div>
						<a href="#"><button class="btn btn-primary btn-large" style="margin-right:13%; float:right;"><span class="glyphicon glyphicon-exclamation-sign"></span> Invite Friends</button> </a>
						<br/><br/>
						
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row host-row">
						<div class="setting-identifier"> place date time </div>
						<a href="#"><button class="btn btn-primary btn-large" style="margin-right:13%; float:right;"><span class="glyphicon glyphicon-exclamation-sign"></span> Invite Friends</button> </a>
						<br/><br/>
						<div class="attendees">Who's Coming?</div>
					</div>
				</div>
				

				<div class="feed-column">

					<h1>Invites</h1>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>
				</div>

				<div class="feed-column guest-column">

					<h1>Meals with You as Guest</h1>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
					</div>
				</div>

				</div>

				<script>

				var objHost = jQuery.parseJSON( {{myhosts|tojson|safe}} );
				// console.log(objHost)
				var objGuest = jQuery.parseJSON( {{myguests|tojson|safe}} );
				// console.log(objGuest)

				// Hosted meal: place, date, time				
				$(document).ready(function() {
				    $(".host-row .setting-identifier").each(function(i) {
				    	if (objHost[i] !== undefined) { 
				        	$(this).text(objHost[i][2] + ", " + objHost[i][3] + ", " + objHost[i++][4]);
				        }
				    });
				});

				// Guest meals: who?
				$(document).ready(function() {
				    $(".guest-column .feed-row .name-identifier").each(function(i) {
				    	if (objGuest[i] !== undefined ) {
				        	$(this).text(objGuest[i++][1] + "'s Meal");
				        }
				    });
				});

				// Guest meals: setting
				$(document).ready(function() {
				    $(".guest-column .feed-row .setting-identifier").each(function(i) {
				    	if (objGuest[i] !== undefined) {
				       		$(this).text(objGuest[i][2] + ", " + objGuest[i][3] + ", " + objGuest[i++][4]);
				       	}
				    });
				});
					// $(".feed-row:nth-child(2) .name-identifier").text(objHost[1][1] + "\'s Meal");
					// $(".feed-row:nth-child(3) .name-identifier").text(objHost[2][1] + "\'s Meal");
					// $(".feed-row:nth-child(4) .name-identifier").text(objHost[3][1] + "\'s Meal");
					// $(".feed-row:nth-child(5) .name-identifier").text(objHost[4][1] + "\'s Meal");
					//$(".feed-row:nth-child(1) .setting-identifier").text(objGuest[0][2] + ", " + objGuest[0][3] + ", " + objGuest[0][4]);
					//$(".feed-row:nth-child(2) .setting-identifier").text(objGuest[1][2] + ", " + objGuest[1][3] + ", " + objGuest[1][4]);
					//$(".feed-row:nth-child(3) .setting-identifier").text(objGuest[2][2] + ", " + objGuest[2][3] + ", " + objGuest[2][4]);
					//$(".feed-row:nth-child(4) .setting-identifier").text(objGuest[3][2] + ", " + objGuest[3][3] + ", " + objGuest[3][4]);
					//$(".feed-row:nth-child(5) .setting-identifier").text(objGuest[4][2] + ", " + objGuest[4][3] + ", " + objGuest[4][4]);

				/* fb photo*/
				$(document).bind('fbInitPicLoaded',function(){
						$("#FacebookPhoto").prop("src", window.picurl);
					});
				
				</script>

				<!-- Populate the rows of -->
				<footer style="clear:both;">
					<div class="container">
					<div class="row">
						<div class="col" style="text-align:center;">&copy; 2014 TigerGrowl</div>
						<div class="col-md-4">
							<ul class="nav nav-pills">
								
							</ul>
						</div>

						</div>
					</div>
					</div>
				</footer>
	</body>
</html>