<!DOCTYPE html>
<html>
	<head>
		<title>TigerGrowl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/css/customstyle.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../static/js/jquery-1.11.0.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.min.js"></script>

		<!-- Necessary to verify user is logged in to fb -->
		<div id="fb-root"></div>
		<script>
		// window.fbAsyncInit = function() {
		// FB.init({
		// 	appId      : '1423477091234772',
		// 	status     : true, // check login status
		// 	cookie     : true, // enable cookies to allow the server to access the session
		// 	xfbml      : true  // parse XFBML
		// });

		// FB.getLoginStatus(function(response) {
		// 	if (response.status != 'connected') {
		// 		str = window.location
		// 		console.log(str)
		// 		console.log(str.split("/"))
		// 		window.location.replace(str.split("/")[2]);
		// 	} 
		//  });

		// };
		// (function(d){
		//  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		//  if (d.getElementById(id)) {return;}
		//  js = d.createElement('script'); js.id = id; js.async = true;
		//  js.src = "https://connect.facebook.net/en_US/all.js";
		//  ref.parentNode.insertBefore(js, ref);
		// }(document));
		</script>

	</head>
	<body>
					<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="navbar-brand logo" style="color:white;" href="#">TigerGrowl</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
		              <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Meals</a></li>
		            </ul>
					
					</div><!-- /.navbar-collapse -->
				</div>
				</nav>
				<div class="container-fluid">
					<div class="jumbotron">
							<a href="registermeal"><button type="button" class="btn btn-default btn-lg">
								Host a Meal
							</button></a>
					</div>
				</div>

				<!-- Main feed container -->
				<div class="container">
					
					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div> 
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button>
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>
					
					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

					<div class="row feed-row">
						<div class="name-identifier"> firstname lastname's Meal </div>
						<div class="setting-identifier"> place date time </div>
						<div class="attendees">Who's Coming?</div>
						<button class="btn btn-primary btn-large" style="margin-left: 110px;margin-top: 75px;"><i class="icon-white icon-align-justify"></i> Join Meal</button> 
					</div>

				<!-- The end of the container feed -->
				</div>

				<!-- Populate the rows of -->
				


				<footer>
					<div class="container">
					<div class="row">
						<div class="col" style="text-align:center;">&copy; 2014 TigerGrowl</div>
						<div class="col-md-4">
							<ul class="nav nav-pills">
								
							</ul>
						</div>

						</div>
					</div>
					</div>
				</footer>

	</body>
</html>