<!DOCTYPE html>
<html>
	<style>
	hr {color:sienna;}
	p {margin-left:20px;}
	body {background-color:#8abe9b;}
	#priv {
    	float: left;
	}
	</style>
	<head>
		<title>Register Meal - TigerGrowl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet", media = "screen">
		<link rel="shortcut icon" href="../static/img/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
		<link href="../static/css/form-signin.css" rel="stylesheet", media = "screen">
		<script src="../static/js/jquery-1.11.0.min.js"></script>
		<script>
			function bigrefresh(){
				alert('Success! Your meal is being hosted!');
				top.location.href = "http://www.tigergrowl.info/feed";
			}

		</script>

				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	</head>
	
	
	<body>
		<div class = "container">
		{% from "formmacro.html" import render_field %}
		<form method=post action="/registermeal" class = "form-signin" role = "form">
			<!-- <dl> -->
				{{ render_field(form.place) }}
				{{ render_field(form.time) }}
				{{ render_field(form.date) }}

				{% for subfield in form.priv %}
				    {{ subfield }}
				    {{ subfield.label }}
				    <br/>
				{% endfor %}
				
				{{ render_field(form.uid) }}
			<!-- </dl> -->
	  <dl style="text-align: center;">
        <button class="btn btn-default btn-success btn-lg" type="submit" onclick="bigrefresh()"> <span class="glyphicon glyphicon-ok-sign"></span>   Register</button>
      </dl>
		</form>
	</div>
	
	</body>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
FB.init({
  appId      : '1423477091234772',
  status     : true, // check login status
  cookie     : true, // enable cookies to allow the server to access the session
  xfbml      : true  // parse XFBML
});

FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    // the user is logged in and has authenticated your
    // app, and response.authResponse supplies
    // the user's ID, a valid access token, a signed
    // request, and the time the access token 
    // and signed request each expire
    var userid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
    $(document).ready(function() {$("#uid").val(userid);});

  } else if (response.status === 'not_authorized') {
    // the user is logged in to Facebook, 
    // but has not authenticated your app
  } else {
    // the user isn't logged in to Facebook.
  }
 });

};
(function(d){
 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement('script'); js.id = id; js.async = true;
 js.src = "https://connect.facebook.net/en_US/all.js";
 ref.parentNode.insertBefore(js, ref);
}(document));

</script>

</html>
