<html>
<title> Central Authentication Service </title>
<body>
<h3> Central Authentication Service </h3>
<font size=-1>
Sun Mar  9 10:38:28 EDT 2014
</font>

<h4> Welcome to the COS 333 Central Authentication Service </h4>

<P> If your project is going to require users to log in with a Princeton
netid, you should use this code, which has the great advantage that the
user's password is sent only to a trusted third party (i.e., not you)
that determines securely whether it is a valid Princeton netid and
does not return to your code unless it is.

<P> Your system might display a welcome page like this one, with a login
link that points to the authentication page.  After a successful call to
CASClient's Authenticate(), the authentication page would set a session
cookie indicating successful login and redirect to a page inside the
site.

<P> Here is a Python version:
<blockquote>
  <form METHOD=GET ACTION="http://www.cs.princeton.edu/~bwk/CAS/CAStestpy.cgi">
       <input type=submit value="Authenticate me to the system via Python">
  </form>
</blockquote>

<P> The Python client code is <a href="CASClient.py">here</a>, the Python
CGI script is <a href="CAStestpy.cgi">here</a>, and the test program is
<a href="CAStest.py">here</a>.

  </form>





<P> The PHP version is by Alex Halderman '03, with contributions from
Avi Flamholz '07 and Scott Karlin *03; thanks to all of them.  The Python
version is bwk's transliteration from the PHP.  The Java version is by
Bob Dondero, as is the corrected PHP version; many thanks to him as well.

<P>
A pretty cryptic description of the underlying system is found at 
 <a href="https://sp.princeton.edu/oit/SDP/CAS">
this OIT site</a>.
